[submodule "autoload/plugged/vim-polyglot"]
	path = autoload/plugged/vim-polyglot
	url = ../../sheerun/vim-polyglot.git
[submodule "autoload/plugged/NERDTree"]
	path = autoload/plugged/NERDTree
	url = ../../scrooloose/NERDTree.git
[submodule "autoload/plugged/auto-pairs"]
	path = autoload/plugged/auto-pairs
	url = ../../jiangmiao/auto-pairs.git
