[submodule "autoload/plugged/vim-polyglot"]
	path = autoload/plugged/vim-polyglot
	url = ../../sheerun/vim-polyglot.git
[submodule "autoload/plugged/NERDTree"]
	path = autoload/plugged/NERDTree
	url = ../../scrooloose/NERDTree.git
[submodule "autoload/plugged/auto-pairs"]
	path = autoload/plugged/auto-pairs
	url = ../../jiangmiao/auto-pairs.git
[submodule "autoload/plugged/onedark.vim"]
	path = autoload/plugged/onedark.vim
	url = ../../joshdick/onedark.vim.git
[submodule "autoload/plugged/vim-multiple-cursors"]
	path = autoload/plugged/vim-multiple-cursors
	url = ../../terryma/vim-multiple-cursors.git
